

.event-main-container{
  background: #FFFFFF;
}

.event-meta{
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.event-date{
  font-size:1.2em;
}
.event-month{
  font-size:1.2em;
}

.news-img-box{
  max-width: 350px;
  max-height: 350px;
  float: left;
  padding-right: 15px;
  padding-bottom: 15px;
}
.news-text-box{
  font-size: 1.5em;
  line-height: 1.7em;
}
